@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

canvas {
    margin: 10px 0;
}

.banner {
    position: relative;
}

.banner img {
    position: absolute;
    top: -8px;
    width: 45px;
    height: 45px;
}

.banner h2 {
    margin-left: 60px;
}